@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}
#particles-js {
  background-image: url(img/stars-universe.gif);
  height: 100vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.linkbro {
  text-decoration: none;
  color: #000;
}
